/* Style sheet from 561 px to 1100 px */

* {
	font-family: 'Pavanam', Verdana, Geneva, Arial, sans-serif;
	font-size: 22px;
	font-weight: 200;
}

img, embed, object, video {
	max-width: 100%;
}

body {
	width: 98%;
}

.headerBar {
	width: 98%;
}

.my-name {
	display: block;
	float: right;
	color: #2d3c49;
	font-size: 48px;
    margin-bottom: 0;
}

.my-description {
	display: block;
	color: #2d3c49;
	font-size: 18px;
	text-align: right;
}

hr {
	display: block;
	background-color: #7d97ad;
	height: 2px;
	width: 100%;
}

.main-image {
	width: 98%;
}

/* The .featured-work-section is not needed for this size screen */

.featured-work-header {
	color: #7d97ad;
	font-size: 38px;
	text-align: left;
	margin: 30px 10px 10px 10px;
}

.featured-work {
	display: flex;
	justify-content: center;
}

.featured-work-item {
	display: inline-block;
	clear: both;
	width: 32%;
	align-content: center;
	padding: 2px;
}

.featured-work-img {
	width: 100%;
}

.featured-work-img:hover {
	position: relative;
    top: -20px;
    left: 20px;
}

.featured-work-title {
	display: block;
	color: #2d3c49;
	text-align: center;
	font-size: 28px;
	font-weight: bold;
	border: 0;
	margin: 0;
}

.featured-work-a {
	display: block;
	color: #2d3c49;
	font-size: 10px;
	text-align: center;
}